---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "variables",
        "bootstrap",
        "syntax-highlighting"
;

// Bootstrap tweaks

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

// Custom styles

.cover-image {
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.fit-image {
  background: no-repeat center bottom;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.stacked-block {
  margin-bottom: 30px;
}

.jumbotron {
  background-color: #fff;
  
  .fit-image {
    padding-bottom: 60px;

    h1 {
      font-size: 18px;
      font-weight: 300;
    }
  }  

  @media (min-width: $screen-xs-min) {
    .fit-image {
      padding-bottom: 100px;
    }
  }

  @media (min-width: $screen-sm-min) {
    .fit-image {
      padding-bottom: 110px;
    }
  }

  @media (min-width: $screen-md-min) {
    .fit-image {
      padding-bottom: 140px;
    }
  }

  @media (min-width: $screen-lg-min) {
    .fit-image {
      padding-bottom: 160px;
    }
  }
}
