<div class="links col-md-6 navbar-form pull-right text-right" data-hook="cart_buttons">
  <div class="form-group">
    <%= button_tag class: 'btn btn-default', id: 'update-button' do %>
      <%= Spree.t(:update) %>
    <% end %>
    <%= button_tag class: 'btn btn-primary', id: 'checkout-link', name: 'checkout' do %>
      <%= Spree.t(:checkout) %>
    <% end %>
  </div>
</div>
