<td class="cart-item-description" data-hook="cart_item_description">
  <p><%= link_to line_item.name, product_path(variant.product) %></p>
  <%= variant.options_text %>
  <% if line_item.insufficient_stock? %>
    <span class="out-of-stock">
      <%= Spree.t(:out_of_stock) %>&nbsp;&nbsp;<br />
    </span>
  <% end %>
</td>
