<div id="empty-cart" class="col-md-6 pull-left navbar-form" data-hook>
  <%= form_tag empty_cart_path, method: :put do %>
    <p id="clear_cart_link" data-hook>
      <%= submit_tag Spree.t(:empty_cart), class: 'btn btn-default' %>
      <%= link_to Spree.t(:continue_shopping), root_path, class: 'continue btn btn-default' %>
    </p>
  <% end %>
</div>