<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation"><a href="{{ '/' | prepend: site.baseurl }}">Home</a></li>
        {% for page in site.pages %}
          {% if page.title %}
          <li role="presentation"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
        <li role="presentation"><a href="{{ site.demo_url }}">Demo <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a></li>
        <li role="presentation"><a href="{{ site.installer_url }}">Installer <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span></a></li>
        <li role="presentation"><a href="{{ site.github_url }}">GitHub <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span></a></li>
      </ul>
    </nav>
    <h3 class="text-muted">eCommerce on Heroku</h3>
  </div>
</div>
