<div id="product_<%= product.id %>" class="col-lg-4 col-sm-6 product-list-item" data-hook="products_list_item" itemscope itemtype="https://schema.org/Product">
  <% cache(@taxon.present? ? [I18n.locale, current_currency, @taxon, product] : [I18n.locale, current_currency, product]) do %>
    <div class="row">
      <div class="product-list-item-display col-xs-6">
        <%= link_to product_image(product, itemprop: "image", class: "product-list-item-image"), url, itemprop: 'url' %>
      </div>
      <div class="product-list-item-info col-xs-6">
        <h2><%= link_to truncate(product.name, length: 50), url, class: 'info', itemprop: "name", title: product.name %></h2>
        <div itemprop="offers" itemscope itemtype="https://schema.org/Offer">
          <span class="price selling" itemprop="price"><%= display_price(product) %></span>
        </div>
      </div>
    </div>
  <% end %>
</div>