<div class="taxon" data-hook="taxon">
  <h1 class="taxon-title"><%= link_to taxon.name, seo_url(taxon) %></h1>
  <% if taxon.hero_file_name %>
    <%= link_to seo_url(taxon) do %>
      <div class='hero-image' style="background-image: url(<%= taxon.hero.url %>)"></div>
    <% end %>
  <% end %>
</div>
