<div data-hook="homepage_products">
  <% cache(cache_key_for_taxon_children('kit')) do %>
    <%- Spree::Taxon
        .where(:permalink => 'kit')
        .first
        .children.each do |kit| -%>
      <%= render partial: 'spree/taxons/taxon', locals: { taxon: kit } %>
    <%- end -%>
  <% end %>
</div>